@import "mixins";

.g-container{
  position: relative;
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;

}

.g-view-container{
  overflow: hidden;
  height: 100%;
  padding-bottom: $tabbar-height;
}

.g-header-container{

  z-index: $navbar-z-index;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.g-footer-container{
  z-index: $tabbar-z-index;
  position: absolute;
  left: 0;
  bottom: 0;
  box-shadow: 0 0 10px 0 hsla(0, 6%,58%,0.6);
  width: 100%;
}

.g-backtop-container{
  position: absolute;
  z-index: $backtop-z-index;
  right: 10px;
  bottom: $tabbar-height + 10px;
}
